@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'sans-serif';
  display: flex; /* center everything */
  flex-direction: column;
  align-items: center; /* align horizontally */
  justify-content: center; /* align vertically */
  height: 100vh; /* use 100% of the browser (viewport height) */
  overflow: hidden; /* No Scroll bar */
  margin: 0;
}
